@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'montserrat';
  src: url('/assets/fonts/Montserrat-Regular.ttf');
}
@layer base {
  html {
    font-family: montserrat, uni-sans, system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    @apply dark:bg-gray-950 bg-white dark:text-white text-black;
  }
}
@layer components {
  .debug {
    @apply border-2 border-red-600;
  }
}
