@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'montserrat';
  src: url('/assets/fonts/Montserrat-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'pixeloid';
  src: url('/assets/fonts/pixeloid.ttf');
  font-display: swap;
}
@layer base {
  html {
    font-family: montserrat, uni-sans, system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    @apply dark:bg-gray-800 bg-gray-10 dark:text-white text-black p-5;
  }
}
@layer components {
  .debug {
    @apply border-2 border-red-600;
  }
}
