@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'montserrat';
  src: url('/assets/fonts/Montserrat-Regular.ttf');
}
@layer base {
  html {
    font-family: montserrat, uni-sans, system-ui, sans-serif;
  }
  body {
    @apply dark:bg-gray-900 bg-white dark:text-white text-black;
  }
}
